* {
    margin: 0;
    padding: 0;
}
html,
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: relative;
}

#buttons {
    top: 5%;
    left: 5%;
    position: relative;
    background-color:;
    width: 90%;
    height: 20%;
}
button {
    position: absolute;
    width: 100px;
    height: 40px;
    background-color: #436fe2;
    font-size: 16px;
}
#up {
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#down {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#left {
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}
#right {
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

